.background {
    background-color: rgb(36, 36, 36)
}

body h1 {
    font-family: 'Red Hat Mono', monospace;
    font-weight: 400;
    color: white;
}

body h2 {
    font-family: 'Red Hat Mono', monospace;
    font-weight: 300;
    color: white;
}

body h3 {
    font-family: 'Red Hat Mono', monospace;
    font-weight: 200;
    color: white;
}